@model ChronoClashDeckBuilder.Models.ViewModels.DeckBuilderListViewModel

@{
    ViewData["Title"] = "Index";
}
<h1>Deck Builder!</h1>
<p>Still have to implement picking a card and adding to deck.</p>
<input type="button" value="Display Deck" onclick=""/>
 @{
     foreach (var card in Model.NewDeck)
     {

            @card.CardName;
     }
}
</p>
    <tbody>
        @foreach (var item in Model.Cards)
        {
            <tr>
                <td>
                    <input type="image" src="~/Images/Chrono Clash Card Images/Naruto Set 1/@item.CardImage"
                         alt="@item.CardName" onclick="@Model.NewDeck.Append(item)"
                         style="width:136px;height:185px;"/>
                </td>
            </tr>
        }
    </tbody>
