@model ChronoClashDeckBuilder.Models.ViewModels.DeckBuilderListViewModel

@{
    ViewData["Title"] = "Deck Builder";
}
<h1>Deck Builder!</h1>
<p>Still have to implement picking a card and adding to deck.</p>

@*<tbody>
    @foreach (var item in Model.NewDeck)
    {
        <tr>
            <td>
                @item.CardName
            </td>
        </tr>
    }
</tbody>
<tbody>
    @foreach (var item in Model.Cards)
    {
    <tr>
        <td>
            @{ 
                var parms = new Dictionary<string, string>
                {
                    {"cardNum", item.CardNumber }
                };
            }
            <a asp-controller="DeckBuilder" asp-action="Index" >
                <img src="~/Images/Chrono Clash Card Images/@item.CardImage"
                     alt="@item.CardName"
                     style="width:272px;height:370px;" />
            </a>
        </td>
        
    </tr>
    }
</tbody>*@
