@page
@model ChronoClashDeckBuilder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Card.CardNumber" />
            <div class="form-group">
                <label asp-for="Card.CardSet" class="control-label"></label>
                <input asp-for="Card.CardSet" class="form-control" />
                <span asp-validation-for="Card.CardSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardType" class="control-label"></label>
                <input asp-for="Card.CardType" class="form-control" />
                <span asp-validation-for="Card.CardType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardImage" class="control-label"></label>
                <input asp-for="Card.CardImage" class="form-control" />
                <span asp-validation-for="Card.CardImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardColor" class="control-label"></label>
                <input asp-for="Card.CardColor" class="form-control" />
                <span asp-validation-for="Card.CardColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardCost" class="control-label"></label>
                <input asp-for="Card.CardCost" class="form-control" />
                <span asp-validation-for="Card.CardCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardStrength" class="control-label"></label>
                <input asp-for="Card.CardStrength" class="form-control" />
                <span asp-validation-for="Card.CardStrength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardName" class="control-label"></label>
                <input asp-for="Card.CardName" class="form-control" />
                <span asp-validation-for="Card.CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardAbilities" class="control-label"></label>
                <input asp-for="Card.CardAbilities" class="form-control" />
                <span asp-validation-for="Card.CardAbilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Card.CardStackAbilities" class="control-label"></label>
                <input asp-for="Card.CardStackAbilities" class="form-control" />
                <span asp-validation-for="Card.CardStackAbilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
