@model IEnumerable<Card>

@{
    ViewData["Title"] = "Card Database";
}

<h1>Card List</h1>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/Chrono Clash Card Images/@item.CardImage"
                         alt="@item.CardName"
                         style="width:136px;height:185px;" />

                </td>
            </tr>
        }
    </tbody>
                
      

