
@{
    ViewData["Title"] = "Decks";
}

<div class="text-center">
    <h1 class="display-4">Deck List!</h1>
    <p>
        List of recently built decks. To be implemented!
        Please check out the
        <a class="btn-link" asp-area="" asp-controller="Cards" asp-action="Index">Card List</a>
        page!
    </p>
</div>