@model ChronoClashDeckBuilder.Models.ViewModels.DecksListViewModel
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Public Decks";
}

<div class="text-center">
    <h1 class="display-4">Community Deck List!</h1>
    <p>
        List of community decks!
    </p>
    @{int i = 0; }
    @foreach (var deck in Model.Decks)
    {
        //if (i++ > 5)
        //    break;
        <div class="row">
            <a class="btn btn-lg" asp-controller="Decks" asp-action="Deck" asp-route-deckId="@deck.DeckId">@deck.DeckName by @deck.UserName</a>
        </div>
    }

