@{
    ViewData["Title"] = "Content Creators";
}
<h1 class="display-4">Content Creators!</h1>
<body>
    <p>
        A list of content creators for the Chrono Clash Card Game, from the community itself!
    </p>
    <a href="https://www.youtube.com/channel/UC7ZhXkLW6Jx6fTKys-V-Czg"><h1>Max Tapera</h1></a>
    <iframe width="932" height="531" src="https://www.youtube.com/embed/-OdQZfxzpfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="https://www.youtube.com/channel/UCmpOqjQYV8NtrVz--aSGFUw"><h1>Buzz Saiyan</h1></a>
    <iframe width="932" height="531" src="https://www.youtube.com/embed/LRGp6PWMuMY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="https://www.youtube.com/channel/UC446g5lUmmFpQ4UxwwrVJEw"><h1>Table 1 Gaming</h1></a>
    <iframe width="932" height="531" src="https://www.youtube.com/embed/6b1zh_jpH6s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="https://www.youtube.com/channel/UC_ocY_jbOVmDb8VVZP74kjQ"><h1>One for All Gaming</h1></a>
    <iframe width="932" height="531" src="https://www.youtube.com/embed/gHPgnuzLfww" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>

