@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/Images/Naruto Test Pic.png"
             alt="Naruto-Thumbs-Up"
             style="width:200px;height:200px;"
             align="right" />
        <h1 class="display-4">Welcome to the Chrono Clash Deck Builder!</h1>
        <p>This site is currently being implemented. It will have the card database and a deck builder. I want to 
        test text wrap so here we go just filling in a bunch of space with meaningless words, and hopefully it will wrap
        by now!</p>
    </div>
