@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/Images/Naruto Test Pic.png"
             alt="Naruto-Thumbs-Up"
             style="width:200px;height:200px;"
             align="right" />
        <h1 class="display-4">Welcome to the Chrono Clash Deck Builder!</h1>
        <p>This site is currently being implemented. It will have the card database and a deck builder for the Chrono Clash card game. Currently focusing
        on the Naruto Boruto set, but plan to eventually implement all sets.</p>
    </div>
