@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/Images/Naruto Test Pic.png"
             alt="Naruto-Thumbs-Up"
             style="width:200px;height:200px;"
             align="right" />
        <h1 class="display-4">Welcome to the Chrono Clash Deck Builder!</h1>
        <p>Thanks for checking out the site! This is a currently in progress project to eventually build a deck builder for the Chrono Clash card game. I currently have the whole Naruto Sets available for view in either the Card List or Deck Builder page at
        the top of the screen. The Deck Builder is not operational and is now just a different way to view the cards. I will continute to upload cards from the newer sets and add more functions to the Deck Builder. Please enjoy!</p>
    </div>
